.bg {
  
    background-image: url('https://c4.wallpaperflare.com/wallpaper/227/256/2/blue-white-material-design-minimal-art-wallpaper-preview.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    height: 44.9vw;
  }
  h1{
    text-align: center;
    color: aliceblue;
    font-size: 100px;
  }
  li{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
  }
  p{
    font-size: 40px;
    text-align: center;
    color: aliceblue;
    
  }